.grid{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  position:relative;
  width:100vw;
  height:100vh;
}

.card{

    &__back-btn{
      position: absolute;
      top:5vh;
      left:10vw;
    }

    &__office{
      width: 50vw;
    }
  }
