.grid{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  position:relative;
  width:100vw;
  height:100vh;
}

.back-btn{
  position: absolute;
  top:5vh;
  left:10vw;
}

.table{
  width:50vw;

  &__line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-buttons{
      width:20vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
